.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
	float: left;
	padding: 15px;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* 	Hides scrollbar. 
	Ideally it would restore when scrolling but not presently 

html::-webkit-scrollbar {
	display: none;
}
*/

h1, h2, h3 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p, a, form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

ul {
	list-style-type: none;
	/*margin: 0;
	padding: 0;*/
}

li {
	/*float: right;
	padding-left: 10px;*/
}

header {
	border-bottom: 2px solid #cccccc;
}

#name {
	padding: 0;
	text-align: center;
	color: white;
}

header h1 {
	background: #4aaaa5;
	padding: 20px;
	margin: 0;
}

nav ul, nav a {
	color: #4aaaa5;
}

nav li {
	display: inline;
}

nav a {
	text-decoration: none;
}

header div.row {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

nav {
	float: right;
	padding: 13px 0;
	word-spacing: 10px;
}

#githubIcon, #linkedinIcon, #overflowIcon {
	height: 55px;
	width: 55px;
}

.main-content {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.container {
	background-image: url("../images/background.png");
	z-index: 0;
}

.main {
	margin: 30px auto;
	background-color: white;
	padding: 30px;
	border: 2px solid #dddddd;
}

.main:last-child {
	padding: 20px;
}

#aboutMe, #contact, #socialText, #portfolioText {
	color: #4aaaa5;
}

#mainPic {
	float: left;
	margin-right: 20px;
	width: 150px;
	height: 150px;
}

aside hr {
	width: 97%;
	color: #dddddd;
	border-style: solid;
	opacity: 0.6;
	margin-top: 20px;
	margin-left: 0;
}

.side a {
	text-decoration: none;
}

.side-row, .side {
	margin: 0;
	padding: 0;
}

.side-icon {
	margin-left: 0px;
}

.side-icon:first-child {
	margin-left: 0;
}

#bioText {
	word-wrap: break-word;
	word-break: keep-all;
	margin-right: 40px;
	line-height: 200%;
}

#mainBreak {
	color: #dddddd;
	border-style: solid;
	margin-top: 20px;
}

form {
	margin-bottom: 20px;
}

textarea {
	height: 200px;
	width: 100%;
	border: 1px solid #dddddd;
	padding: 5px;
	margin: 8px 0;
}

input[type=name], input[type=email] {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #dddddd;
	padding: 5px;
	margin: 8px 0;
}

#submit_button {
	background-color: #4aaaa5;
	border: none;
	color: white;
	padding: 8px 25px;
	font-size: 14px;
}

div.form {
	padding: 0;
}

.portfolio-pic {
	width: 100%;
	height: 100%;
}

.portfolio-wrapper {
	position: relative;
	overflow: auto;
}

div.portfolio-wrapper p {
	color: white;
	position: absolute;
	bottom: 12%;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	width: 89.5%;
	text-align: center;
	padding: 10px 0;
	background-color: #4aaaa5;
	opacity: 0.99;
}

footer {
	/*line-height: 78px;*/
	background: #666666;
	border-top: 8px solid #4aaaa5;	
}

footer p {
	text-align: center;
	color: white;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding: 10px;
}

@media screen and (max-width: 980px) {
	.col-md-0 {display: none;}
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}

	#mainPic {
		display: block;
		width: 100%;
		height: inherit;
		margin-bottom: 10px;
	}

	#bioText {
		margin-right: 10px;
	}

	div.portfolio-wrapper p {
		width: 91.75%;
	}
}

@media only screen and (max-width: 768px) {
	.col-sm-0 {display: none;}
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}

	header div.row {
		width: 95%;
	}

	#mainPic {
		width: 50%;
		height: 50%;
		display: inline;
	}

	#bioText {
		margin-right: 0;
	}

	.main:first-child {
		margin-bottom: 0;
	}

	.main-content {
		width: 95%;
	}

	.side-icon {
		margin-left: 10px;
	}

	.side-icon:first-child {
		margin-left: 0;
	}

	div.portfolio-wrapper p {
		width:  91%;
	}
}

@media only screen and (max-width: 640px) {
	.col-xs-0 {display: none;}
	.col-xs-1 {width: 8.33%;}
	.col-xs-2 {width: 16.66%;}
	.col-xs-3 {width: 25%;}
	.col-xs-4 {width: 33.33%;}
	.col-xs-5 {width: 41.66%;}
	.col-xs-6 {width: 50%;}
	.col-xs-7 {width: 58.33%;}
	.col-xs-8 {width: 66.66%;}
	.col-xs-9 {width: 75%;}
	.col-xs-10 {width: 83.33%;}
	.col-xs-11 {width: 91.66%;}
	.col-xs-12 {width: 100%;}

	nav {
		padding: 7px 55px;
		float: none;
	}

	nav ul {
		display: flex;
		justify-content: space-between;
	}

	#mainPic {
		width: inherit;
		height: inherit;
		margin-bottom: 20px;
	}

	.side-icon {
		margin-left: 20px;
	}

	.side-icon:first-child {
		margin-left: 0;
	}

	div.portfolio-wrapper p {
		width: 94.5%;
	}
}